﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.7.3.93 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="p00_Init">
  <Property Name="BackColor" Value="250" />
  <Property Name="Description" Value="" />
  <Property Name="Height" Value="800" />
  <Property Name="Index" Value="0" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[_Default]" />
  <Property Name="Width" Value="480" />
  <Layers>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="800" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="480" />
      <Property Name="Z-Order" Value="0" />
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="103790" Value="TOUCH ANYWHERE TO CALIBRATE SCREEN" />
          <Text ID="103792" Value="VERSION:" />
          <Text ID="103793" Value="STANDARD MILL" />
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="103790" Value="" />
          <Text ID="103792" Value="" />
          <Text ID="103793" Value="" />
        </TextLayer>
        <IndexMap>
          <Index ID="103790" Value="0" />
          <Index ID="103792" Value="2" />
          <Index ID="103793" Value="3" />
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001005" Name="Bitmap_1">
          <Property Name="Bitmap" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Height" Value="301" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]" />
          <Property Name="Top" Value="60" />
          <Property Name="Width" Value="480" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="0" />
          <Property Name="Height" Value="40" />
          <Property Name="Left" Value="0" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[_Title]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="740" />
          <Property Name="Width" Value="480" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_8">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="0" />
          <Property Name="Height" Value="40" />
          <Property Name="Left" Value="140" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[_Title]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="2" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="460" />
          <Property Name="Width" Value="120" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_9">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="0" />
          <Property Name="Height" Value="40" />
          <Property Name="Left" Value="0" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[_Title]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="3" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="420" />
          <Property Name="Width" Value="480" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="AlignmentHorizontal" Value="Left" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="0" />
          <Property Name="Height" Value="40" />
          <Property Name="Left" Value="260" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="X.Y.Z" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[_Default]" />
          <Property Name="TextDatapoint" Value="Source[global].Variable[DataSource.gSWVersion]" />
          <Property Name="TextSource" Value="SingleString" />
          <Property Name="Top" Value="460" />
          <Property Name="Width" Value="120" />
        </Control>
        <Control ClassId="0x00001006" Name="BarGraph_1">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EndValue" Value="5000" />
          <Property Name="Height" Value="60" />
          <Property Name="Left" Value="20" />
          <Property Name="Range[0].Color" Value="2" />
          <Property Name="Range[0].Start" Value="0" />
          <Property Name="Segments" Value="100" />
          <Property Name="SimulationValue" Value="2000" />
          <Property Name="Spacing" Value="0" />
          <Property Name="StartValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]" />
          <Property Name="Top" Value="560" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.HMI.Vis.Vis.SplashTimer.ET]" />
          <Property Name="Width" Value="440" />
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_2">
          <Property Name="Bitmap" Value="Source[local].Bitmap[Yoder_Transparent]" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Transparent" />
          <Property Name="Height" Value="251" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="40" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]" />
          <Property Name="Top" Value="160" />
          <Property Name="Width" Value="400" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
    <Layer Name="Calibration">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="800" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Hidden" />
      <Property Name="Width" Value="480" />
      <Property Name="Z-Order" Value="1" />
      <TextGroup>
        <TextLayer LanguageId="en" />
        <TextLayer LanguageId="de" />
        <IndexMap />
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001003" Name="HotSpot_1">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_49]" />
          <Property Name="Height" Value="800" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]" />
          <Property Name="Top" Value="0" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_49]" />
          <Property Name="Width" Value="480" />
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="%embVirtualKey_49">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000164">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder />
  <TabSequence />
</Page>