﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.7.3.93 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="p29_SDM">
  <Property Name="Description" Value="" />
  <Property Name="Height" Value="800" />
  <Property Name="Index" Value="29" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[_Default]" />
  <Property Name="Width" Value="480" />
  <Layers>
    <LayerRef Source="Source[local].Layer[cBackground]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="cBackground" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="0" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[cDiag]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="cDiag" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="1" />
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="800" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="480" />
      <Property Name="Z-Order" Value="2" />
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="99402" Value="VERSION:" />
          <Text ID="99405" Value="CONFIG ID:" />
          <Text ID="99406" Value="MODEL:" />
          <Text ID="99408" Value="PRODUCTION HOURS:" />
          <Text ID="99409" Value="SYSTEM LIFE HOURS:" />
          <Text ID="128353" Value="" />
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="99402" Value="" />
          <Text ID="99405" Value="" />
          <Text ID="99406" Value="" />
          <Text ID="99408" Value="Text_3" />
          <Text ID="99409" Value="Text_3" />
          <Text ID="128353" Value="" />
        </TextLayer>
        <IndexMap>
          <Index ID="99402" Value="4" />
          <Index ID="99405" Value="7" />
          <Index ID="99406" Value="8" />
          <Index ID="99408" Value="10" />
          <Index ID="99409" Value="11" />
          <Index ID="128353" Value="2" />
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001014" Name="HTMLView_1">
          <Property Name="AllowAutoRefresh" Value="No" />
          <Property Name="Border" Value="Source[local].Border[Flat_black]" />
          <Property Name="ChangeURLDatapoint" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="CurrentTitleDatapoint" Value="None" />
          <Property Name="CurrentURLDatapoint" Value="None" />
          <Property Name="DefaultURLs" Value="Source[local].TextGroup[httpURL_SDM]" />
          <Property Name="Description" Value="" />
          <Property Name="HTMLStream" Value="None" />
          <Property Name="Height" Value="200" />
          <Property Name="Left" Value="10" />
          <Property Name="RenderEngine" Value="Automatic" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]" />
          <Property Name="Top" Value="160" />
          <Property Name="Width" Value="325" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="BackColor" Value="15" />
          <Property Name="Border" Value="Source[local].Border[_Sunken]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Opaque" />
          <Property Name="ForeColor" Value="0" />
          <Property Name="Height" Value="40" />
          <Property Name="Left" Value="340" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="X.Y.Z" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[_Default]" />
          <Property Name="TextDatapoint" Value="Source[global].Variable[DataSource.gSWVersion]" />
          <Property Name="TextSource" Value="SingleString" />
          <Property Name="Top" Value="240" />
          <Property Name="Width" Value="120" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_8">
          <Property Name="AlignmentVertical" Value="Bottom" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="40" />
          <Property Name="Left" Value="340" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[_Default]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="4" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="200" />
          <Property Name="Width" Value="120" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="BackColor" Value="15" />
          <Property Name="Border" Value="Source[local].Border[_Sunken]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Opaque" />
          <Property Name="ForeColor" Value="0" />
          <Property Name="Height" Value="40" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.gMachine.MachineType]" />
          <Property Name="Left" Value="140" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[_Default]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[_MachineType]" />
          <Property Name="TextIndexOffset" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="420" />
          <Property Name="Width" Value="300" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="BackColor" Value="15" />
          <Property Name="Border" Value="Source[local].Border[_Sunken]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Opaque" />
          <Property Name="ForeColor" Value="0" />
          <Property Name="Height" Value="40" />
          <Property Name="Left" Value="140" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="&lt;ID&gt;" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[_Default]" />
          <Property Name="TextDatapoint" Value="Source[global].Variable[DataSource.gConfigID]" />
          <Property Name="TextSource" Value="SingleString" />
          <Property Name="Top" Value="380" />
          <Property Name="Width" Value="300" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_9">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="40" />
          <Property Name="Left" Value="20" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[_Default]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="7" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="380" />
          <Property Name="Width" Value="120" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_10">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="40" />
          <Property Name="Left" Value="20" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[_Default]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="8" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="420" />
          <Property Name="Width" Value="120" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_12">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="40" />
          <Property Name="Left" Value="20" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[_Default]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="10" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="540" />
          <Property Name="Width" Value="280" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_6">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="0" />
          <Property Name="Height" Value="40" />
          <Property Name="Left" Value="320" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[_Default]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="540" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gMachineTime.hours]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="120" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_13">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="40" />
          <Property Name="Left" Value="20" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[_Default]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="11" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="500" />
          <Property Name="Width" Value="280" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_7">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="0" />
          <Property Name="Height" Value="40" />
          <Property Name="Left" Value="320" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[_Default]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="500" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.gPLCTime.hours]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="120" />
        </Control>
        <Control ClassId="0x00001002" Name="btnNavDiag">
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_42]" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="385" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[_SubPageInvert]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[_PageNames]" />
          <Property Name="TextIndex" Value="29" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="600" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_42]" />
          <Property Name="Width" Value="95" />
        </Control>
        <Control ClassId="0x00001002" Name="btnNavDiag1">
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="Border" Value="Source[local].Border[_Raised]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_45]" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="320" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[_NavButtonInvert]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[_PageNames]" />
          <Property Name="TextIndex" Value="2" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="700" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_45]" />
          <Property Name="Width" Value="160" />
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="%embVirtualKey_42">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[p29_SDM]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_45">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[p20_List]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[HTMLView_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[HTMLView_1]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[HTMLView_1]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[HTMLView_1]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[HTMLView_1]" />
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[HTMLView_1]" />
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[Numeric_6]" />
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[Numeric_7]" />
  </TabSequence>
</Page>